

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Фамилия" [(ngModel)]="surname">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Имя" [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Отчество" [(ngModel)]="patronymic">
  </mat-form-field>
  <button mat-icon-button aria-label="Поиск" (click)="findUser(name,surname,patronymic)">
    <mat-icon>search</mat-icon>
  </button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
    <ng-container matColumnDef="fio">
      <th mat-header-cell *matHeaderCellDef> ФИО </th>
      <td mat-cell *matCellDef="let clients">
        {{clients.surname + ' '+ clients.name + ' ' + clients.patronymic}}
      </td>
    </ng-container>
    <ng-container matColumnDef="dateBorn">
      <th mat-header-cell *matHeaderCellDef> Дата рождения </th>
      <td mat-cell *matCellDef="let clients">
        {{clients.dateBorn | date : 'MM/dd/yyyy'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="passport">
      <th mat-header-cell *matHeaderCellDef> Паспортные данные </th>
      <td mat-cell *matCellDef="let clients">
        {{clients.clientPassportSeries +' '+ clients.clientPassportNumber}}
      </td>
    </ng-container>
    <ng-container matColumnDef="client_id">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let clients">
        <mat-radio-button (click)="checkRadio(clients)">
        </mat-radio-button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>
  <mat-progress-spinner 
    *ngIf="snipValue"
     mode ="indeterminate">
</mat-progress-spinner>
<div class="listButton">
   <button mat-raised-button (click)="changeUser()" color="primary" [disabled]="flagDisabled">Выбрать </button>
   <button mat-raised-button (click)="addUser()" color="primary"  >Новый </button>
   <button mat-raised-button (click)="close()" color="primary" >Закрыть </button>
</div>
