.calculated-card{
  max-width: 50%;
  left: 25%;
  top: 10px;
}
.params-card{
  max-width: 50%;
  left: 25%;
  top: 10px;
}
.client-card{
  max-width: 50%;
  left: 25%;
  top: 10px;
}
.adres-card{
  max-width: 50%;
  left: 25%;
  top: 10px;
}
.comment-card{
  max-width: 50%;
  left: 25%;
  top: 10px;
}
textarea{
  width: 100%;
}
.comment-text{
  width: 100%;
}
.mat-card-actions{
  position: relative;
  left: 40%;
}
.mat-card-title{
  margin-bottom: 1px;
}
.mat-card{
  padding: 15px;
}
.mat-form-field{
  padding-left:5px; 
}
.mat-list-item{
  margin-top: 10px;
}
.loader{
  position: absolute;
  left: 45%;
  top:40%;
}
.cont-card{
margin-bottom: 0px;
}
.nameSurnamePatronymic{
  width: 380px;
}