
    <form class = "agreements-form"
          [formGroup]="forms">
        <mat-card class="calculated-card">
          <mat-card-title>Расчет</mat-card-title>
          <mat-card-content class="cont-card">
            <mat-grid-list cols="2" rowHeight="270px" >
              <mat-grid-tile>
            <mat-list dense>
              <mat-list-item>
         <mat-form-field>
           <input matInput
           placeholder="Страховая сумма"
           formControlName="srachSumm"
           id="srachSumm"
           type="text"
           [ngClass]="{'invalid': forms.get('srachSumm').invalid && forms.get('srachSumm').touched}"
           >
           <mat-error *ngIf="forms.get('srachSumm').invalid && forms.get('srachSumm').touched">
              <mat-error *ngIf="forms.get('srachSumm').errors['required']">
                  Поле страховая сумма не заполнено!!!
              </mat-error>
            </mat-error>
         </mat-form-field>
         </mat-list-item>
         <mat-list-item>
         <mat-form-field>
           <mat-label>Тип недвижимости</mat-label>
             <mat-select [(value)]="selectedDrawell">
               <mat-option *ngFor="let draw of typeDrawelling" [value]="draw.name">
                 {{draw.name}}
               </mat-option>
             </mat-select>
          </mat-form-field>
          </mat-list-item>
          <mat-list-item>
          <mat-form-field>
            <input matInput
            placeholder="Год постройки"
            formControlName="yearPostroiki"
            id="yearPostroiki"
            type="text"
            [ngClass]="{'invalid': forms.get('yearPostroiki').invalid && forms.get('yearPostroiki').touched}"
           >
           <mat-error *ngIf="forms.get('yearPostroiki').invalid && forms.get('yearPostroiki').touched">
              <mat-error *ngIf="forms.get('yearPostroiki').errors['required']">
                  Поле год постройки не заполнено!!!
              </mat-error>
             <mat-error *ngIf="forms.get('yearPostroiki').errors.yearValidator">
               Поле введено не корректно!!!Дата постройки не может быть больше текущего года!!!
             </mat-error>
             <mat-error *ngIf="forms.get('yearPostroiki').errors.pattern">
               Поле введено не корректно!!!Должно состоять из 4 цифр!!!
             </mat-error>
            </mat-error>
         </mat-form-field>
         </mat-list-item>
         <mat-list-item>
          <mat-form-field>
            <input
            matInput placeholder="Площадь, кв. м"
            formControlName="square"
            id="square"
            type="text"
            [ngClass]="{'invalid': forms.get('square').invalid && forms.get('square').touched}"
           >
           <mat-error *ngIf="forms.get('square').invalid && forms.get('square').touched">
              <mat-error *ngIf="forms.get('square').errors['required']">
                  Поле площадь не заполнено!!!
              </mat-error>
             <mat-error *ngIf="forms.get('square').errors.pattern">
               Поле площадь заполнено не верно формат записи: 35.1 !!!
             </mat-error>
            </mat-error>
          </mat-form-field>
          </mat-list-item>
          <mat-list-item>
          <mat-form-field>
            <input matInput
            placeholder="Дата расчета"
            formControlName="dateRasheta"
                   readonly="true"
              id="dateRasheta"
              type="text"
              [ngClass]="{'invalid': forms.get('dateRasheta').invalid && forms.get('dateRasheta').touched}"
                 >
                 <mat-error *ngIf="forms.get('dateRasheta').invalid && forms.get('dateRasheta').touched">
                    <mat-error *ngIf="forms.get('dateRasheta').errors['required']">
                        Поле дата расчета не заполнено!!!
                    </mat-error>
                  </mat-error>
          </mat-form-field>
        </mat-list-item>
        </mat-list>
      </mat-grid-tile>  
      <mat-grid-tile>
      <mat-list dense>
      <mat-list-item>          
      <mat-form-field>
        <input
        matInput [matDatepicker]="date_From"
        placeholder="Дата начала договора"
        formControlName="dateFrom"
        id="dateFrom"
        type="text"
        [min]="DateFrom"
        [max]="DateFromMax"
        [ngClass]="{'invalid': forms.get('dateFrom').invalid && forms.get('dateFrom').touched}"
           >
           <mat-error *ngIf="forms.get('dateFrom').invalid && forms.get('dateFrom').touched">
               <mat-error *ngIf="forms.get('dateFrom').errors['required'] && forms.get('dateFrom').touched">
                 Поле дата начала не заполнено!!!
               </mat-error>
             <mat-error *ngIf="forms.get('dateFrom').errors['matDatepickerMin'] && forms.get('dateFrom').touched">
               Поле дата c заполнено не верно!!!Дата должна быть не меньше {{forms.get('dateFrom').errors.matDatepickerMin.min | date : 'MM/dd/yyyy'}}
             </mat-error>
             <mat-error *ngIf="forms.get('dateFrom').errors['matDatepickerMax'] && forms.get('dateFrom').touched">
               Поле дата c заполнено не верно!!!Дата должна быть не больше {{forms.get('dateFrom').errors.matDatepickerMax.max | date : 'MM/dd/yyyy'}}
             </mat-error>
            </mat-error>
        <mat-datepicker-toggle matSuffix [for]="date_From"></mat-datepicker-toggle>
        <mat-datepicker #date_From></mat-datepicker>    
      </mat-form-field> 
      </mat-list-item> 
      <mat-list-item>
      <mat-form-field>
        <input matInput
        [matDatepicker]="dateTo"
        placeholder="Дата окончания договора"
        formControlName="dateTo"
        id="dateTo"
        type="text"
               [min]="DateTo"
               [max]="DateToMax"
        [ngClass]="{'invalid': forms.get('dateTo').invalid && forms.get('dateTo').touched}"
           >
        <mat-error *ngIf="forms.get('dateTo').invalid && forms.get('dateTo').touched">
             <mat-error *ngIf="forms.get('dateTo').errors['required'] && forms.get('dateTo').touched">
               Поле дата окончания не заполнено!!!
             </mat-error>
          <mat-error *ngIf="forms.get('dateTo').errors['matDatepickerMin'] && forms.get('dateTo').touched">
            Поле дата по заполнено не верно!!!Дата должна быть не меньше {{forms.get('dateTo').errors.matDatepickerMin.min | date : 'MM/dd/yyyy'}}
          </mat-error>
          <mat-error *ngIf="forms.get('dateTo').errors['matDatepickerMax'] && forms.get('dateTo').touched">
            Поле дата по заполнено не верно!!!Дата должна быть не больше {{forms.get('dateTo').errors.matDatepickerMax.max | date : 'MM/dd/yyyy'}}
          </mat-error>
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
        <mat-datepicker #dateTo></mat-datepicker>
      </mat-form-field>
      </mat-list-item> 
    <mat-list-item> 
    <mat-form-field>
      <input matInput
             placeholder="Премия"
             formControlName="prize"
             id="prize"
             type="text"
             [ngClass]="{'invalid': forms.get('prize').invalid && forms.get('prize').touched}"
           >
           <mat-error *ngIf="forms.get('prize').invalid && forms.get('prize').touched">
              <mat-error *ngIf="forms.get('prize').errors['required']">
                  Поле премия не заполнено!!!
              </mat-error>
              <mat-error *ngIf="forms.get('square').errors.pattern">
                Поле премия заполнено неверно!!!
            </mat-error>
            </mat-error>
              
    </mat-form-field>
    </mat-list-item> 
      <mat-list-item></mat-list-item>
     </mat-list>
    </mat-grid-tile>
    </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-raised-button class="rashetButton" color="primary" (click) ="calculate()"> Расчитать </button>
    </mat-card-actions>
  </mat-card>



<mat-card class="params-card">
<mat-card-content>
    <mat-form-field>
      <input matInput
             placeholder="№ договора"
             formControlName="agreementNumber"
             id="agreementNumber"
             type="text"
             [ngClass]="{'invalid': forms.get('agreementNumber').invalid && forms.get('agreementNumber').touched}"
           >
           <mat-error *ngIf="forms.get('agreementNumber').invalid && forms.get('agreementNumber').touched">
              <mat-error *ngIf="forms.get('agreementNumber').errors['required']">
                  Поле номер договора не заполнено!!!
              </mat-error>
             <mat-error *ngIf="forms.get('agreementNumber').errors['minlength'] || forms.get('agreementNumber').errors['maxlength']">
               Поле номер договора должно состоять из 6 символов!!!
             </mat-error>
             <mat-error *ngIf="forms.get('agreementNumber').errors.uniqueAlterEgo">
               Такой номер договора уже существует в системе!!
             </mat-error>
            </mat-error>
    </mat-form-field>
    <mat-form-field>
     <input matInput
            placeholder="Дата заключения договора"
            formControlName="dateComplet"
            id="dateComplet"
            readonly="true"
            type="text"
            [ngClass]="{'invalid': forms.get('dateComplet').invalid && forms.get('dateComplet').touched}"
           >
           <mat-error *ngIf="forms.get('dateComplet').invalid && forms.get('dateComplet').touched">
              <mat-error *ngIf="forms.get('dateComplet').errors['required']">
                  Поле дата завершения не заполнено!!!
              </mat-error>
            </mat-error>
    </mat-form-field>
  </mat-card-content>
  </mat-card>
<mat-card class="client-card">
  <mat-card-title>Страхователь</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput
       placeholder="Дата рождения"
       [value]="dateBornx"
       readonly="true"
       formControlName="dateBorn"
       id="dateBorn"
       type="text"
       [ngClass]="{'invalid': forms.get('dateBorn').invalid && forms.get('dateBorn').touched}"
            >
            <mat-error *ngIf="forms.get('dateBorn').invalid && forms.get('dateBorn').touched">
               <mat-error *ngIf="forms.get('dateBorn').errors['required']">
                   Поле дата рождения не заполнено!!!
               </mat-error>
             </mat-error>
   </mat-form-field>
    <mat-form-field class ="nameSurnamePatronymic">
      <input matInput
             placeholder="Введите ФИО"
             [value]="fio"
             readonly="true"
              formControlName="nameSurnamePatronymic"
              id="nameSurnamePatronymic"
              type="text"
              [ngClass]="{'invalid': forms.get('nameSurnamePatronymic').invalid && forms.get('nameSurnamePatronymic').touched}"
           >
           <mat-error *ngIf="forms.get('nameSurnamePatronymic').invalid && forms.get('nameSurnamePatronymic').touched">
              <mat-error *ngIf="forms.get('nameSurnamePatronymic').errors['required']">
                  Поле ФИО не заполнено!!!
              </mat-error>
            </mat-error>
    </mat-form-field>
  
  <mat-form-field>
    <input matInput
           placeholder="Серия"
           [value]="series"
            readonly="true"
            formControlName="clientPassportSeries"
            id="clientPassportSeries"
            type="text"
            [ngClass]="{'invalid': forms.get('clientPassportSeries').invalid && forms.get('clientPassportSeries').touched}"
           >
           <mat-error *ngIf="forms.get('clientPassportSeries').invalid && forms.get('clientPassportSeries').touched">
              <mat-error *ngIf="forms.get('clientPassportSeries').errors['required']">
                  Поле серия паспорта не заполнено!!!
              </mat-error>
             <mat-error *ngIf="forms.get('clientPassportSeries').errors['minlength'] || forms.get('clientPassportSeries').errors['maxlength']">
               Поле серия паспорта должно состоять из 4 символов!!!
             </mat-error>
            </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Номер"
           [value]="nomer"
           readonly="true"
           formControlName="clientPassportNumber"
            id="clientPassportNumber"
            type="text"
            [ngClass]="{'invalid': forms.get('clientPassportNumber').invalid && forms.get('clientPassportNumber').touched}"
           >
           <mat-error *ngIf="forms.get('clientPassportNumber').invalid && forms.get('clientPassportNumber').touched">
              <mat-error *ngIf="forms.get('clientPassportNumber').errors['required']">
                  Поле номер паспорта не заполнено!!!
              </mat-error>
             <mat-error *ngIf="forms.get('clientPassportNumber').errors['minlength'] || forms.get('clientPassportNumber').errors['maxlength']">
               Поле номер паспорта должно состоять из 6 символов!!!
             </mat-error>
            </mat-error>
  </mat-form-field>
</mat-card-content>
<mat-card-actions>
  <button type="button" mat-raised-button color="primary" (click)="openDialog1()" class="selectClient"> Выбрать </button>
  <button type="button" mat-raised-button color="primary" (click)="openDialog()" class="changeClient" [disabled]="checkChangeClient"> Изменить </button>
</mat-card-actions>
</mat-card>

<mat-card class ="adres-card">
  <mat-card-title>Адрес недвижимости</mat-card-title>
  <mat-card-content>
  <mat-form-field>
  <mat-label>Государство</mat-label>
  <mat-select 
  formControlName="state"
  id="state"
  [ngClass]="{'invalid': forms.get('state').invalid && forms.get('state').touched}"
   >
    <mat-option *ngFor="let stat of states" [value]="stat.id" >
      {{stat.stateName}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="forms.get('state').invalid && forms.get('state').touched">
    <mat-error *ngIf="forms.get('state').errors['required']">
        Поле государство не заполнено!!!
    </mat-error>
  </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Индекс"
           formControlName="indexA"
           id="indexA"
           type="text"
           >
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="республика, край, область"
           formControlName="respublika"
           id="respublika"
           type="text"
           [ngClass]="{'invalid': forms.get('respublika').invalid && forms.get('respublika').touched}"
           >
           <mat-error *ngIf="forms.get('respublika').invalid && forms.get('respublika').touched">
              <mat-error *ngIf="forms.get('respublika').errors['required']">
                  Поле индекс не заполнено!!!
              </mat-error>
            </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
          placeholder="улица"
          formControlName="street"
           id="street"
           type="text"
           [ngClass]="{'invalid': forms.get('street').invalid && forms.get('street').touched}"
           >
           <mat-error *ngIf="forms.get('street').invalid && forms.get('street').touched">
              <mat-error *ngIf="forms.get('street').errors['required']">
                  Поле улица не заполнено!!!
              </mat-error>
            </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="район"
           formControlName="distrikt"
           id="distrikt"
           type="text"
           >
  </mat-form-field>
<mat-form-field>
    <input matInput
           placeholder="Населенный пункт"
            formControlName="punkt"
           id="punkt"
           type="text"
           [ngClass]="{'invalid': forms.get('punkt').invalid && forms.get('punkt').touched}"
           >
           <mat-error *ngIf="forms.get('punkt').invalid && forms.get('punkt').touched">
              <mat-error *ngIf="forms.get('punkt').errors['required']">
                  Поле населенный пункт не заполнено!!!
              </mat-error>
            </mat-error>
</mat-form-field>
<mat-form-field>
    <input matInput
           placeholder="дом"
           formControlName="home"
           id="home"
           type="text"
           >
</mat-form-field>
<mat-form-field>
    <input matInput
           placeholder="корпус"
           formControlName="korpus"
           id="korpus"
           type="text"
>
</mat-form-field>
<mat-form-field>
    <input matInput
           placeholder="строение"
           formControlName="build"
           id="build"
           type="text"
     >
</mat-form-field>
<mat-form-field>
    <input matInput
           placeholder="квартира"
           formControlName="kvartira"
           id="kvartira"
           type="text"
           [ngClass]="{'invalid': forms.get('kvartira').invalid && forms.get('kvartira').touched}"
           >
           <mat-error *ngIf="forms.get('kvartira').invalid && forms.get('kvartira').touched">
              <mat-error *ngIf="forms.get('kvartira').errors['required']">
                  Поле квартира не заполнено!!!
              </mat-error>
            </mat-error>
</mat-form-field>
</mat-card-content>
</mat-card>
<mat-card class="comment-card">
  <mat-card-title>
    Комментарий
  </mat-card-title>
  <mat-card-content>
<mat-form-field class ="comment-text">
  <textarea matInput 
  class="textComment"
  placeholder="Комментарий к договору"
  formControlName="comment"
  id="comment"
  ></textarea>
</mat-form-field>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button class="saveAgr" (click)="onSubmit()" color="primary" [disabled]="forms.invalid || forms.disabled"> Сохранить </button>
  <button mat-raised-button class="listAgr" color="primary" (click)="onListAgr()">К списку договоров </button>
</mat-card-actions>
</mat-card>
</form>
<mat-spinner *ngIf="checkBool == true"
             class="loader"
             color="primary">
</mat-spinner>
