
<div class="editClient">
<div class ="firstRow">
  <mat-form-field>
    <input matInput placeholder="Фамилия">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Имя">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Отчество">
  </mat-form-field>
    
  <mat-form-field>
  <input matInput placeholder="серия">
  </mat-form-field>

  <mat-form-field>
     <input matInput placeholder="номер">
  </mat-form-field>
  </div>
  <div class="secondRow">
  <button mat-raised-button  color="primary" class="saveButton" color="primary"> Сохранить </button>
  <button mat-raised-button  color="primary" class="closeButton" color="primary"> Выйти </button>
  </div>
  </div>
